page-portfolio {

 .ios, .md {
    page-home {
     .scroll-content {
                background-color: map-get($colors, light);
            }
     
            ion-card-header {
                font-weight: bold;
            }
     
      }
     
}

.profileText {
    text-emphasis: bold;
    font-size: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.title {
    // text-align: left;
    // align-content: center;
    text-emphasis: bold;
    display: flex;
    justify-content:center;
    align-items: center;
}

}
